<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/StyleSheet.css">
    <title>Время работы станков</title>
    <script src="actionScript.js"></script>
</head>
<body>
    <div class="div_post">
        <table class="main-table">
            <% for(i=-1; i < items.length; i++) { %> 
                <tr>
                    <% for(j=0; j < header_name.length; j++) { %> 
                        <% if(i == -1) { %>
                            <th>
                                <%= header_text[j] %>
                            </th>
                        <% } else { %>
                            <td>
                                <%= items[i][header_name[j]] %> 
                            </td>
                        <% } %>
                    <% } %> 
                </tr>
            <% } %> 
        </table>
    </div>
</body>
</html>

